.App {
  text-align: center;
  font-size: 20px;
}

table {
  margin-top: 10px;
}

/* .container {
  margin-top :  100px;
} */
/* .floating-label {
  position: relative;
  margin-bottom: 1rem;
}

.floating-label input {
  width: 100%;
  padding: 1.2rem 0.5rem 0.5rem;
  font-size: 1rem;
}

.floating-label label {
  position: absolute;
  top: 0.75rem;
  left: 0.5rem;
  font-size: 1rem;
  color: #999;
  pointer-events: none;
  transition: 0.2s ease all;
}

.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
  top: 0.2rem;
  font-size: 0.8rem;
  color: #333;
} */
